.ivu-auto-complete .ivu-input {
    height: 43px;
    background-color: transparent;
    border-color: var(--clr-gray);
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 4px;
    border-width: 1.5px;
    color: #fff;
}

.ivu-auto-complete.ivu-select-visible .ivu-input,
.ivu-auto-complete .ivu-input:hover {
    border-color: var(--clr-blue);
    box-shadow: none;
}
