.import-strategy {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    padding: 70px 30px;
}

.background-arrow {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.content {
    position: relative;
    flex-shrink: 0;
    z-index: 100;
    max-width: calc(100vw - 60px);
}

.logo {
    width: 366px;
    margin-bottom: 83px;
}

.title {
    font-size: 31px;
    text-transform: uppercase;
    margin-bottom: 23px;
    font-weight: 500;
}

.title-secondary {
    font-size: 15px;
    color: var(--clr-gray);
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin-top: 60px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid var(--clr-gray-dark);
    padding: 0px;
    width: 233px;
    height: 233px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.box:hover {
    border-color: var(--clr-blue);
}

.box:hover .box-content {
    color: #fff;
}

/deep/.box:hover svg path {
    fill: var(--clr-blue);
}

.box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: var(--clr-gray); */
    transition: 0.3s;
}

.box svg {
    width: 60px;
    margin-bottom: 25px;
}

.box svg path {
    transition: 0.3s;
}

.box-title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.box-description {
    font-size: 12px;
}

@media screen and (min-width: 1300px) {
    .content {
        width: 52%;
    }
}

@media screen and (min-width: 1200px) {
    .content {
        width: 68%;
    }
}

@media screen and (min-width: 900px) {
    .boxes {
        justify-content: start;
    }
}
