.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    padding-left: 18px;
    padding-right: 18px;
}

.button.gray {
    background-color: var(--clr-gray-dark);
}

.button.primary {
    background: linear-gradient(75deg, #0032bd 0%, #0f87e5 100%);
}

.button.danger {
    background-color: #ed4014;
}

.button.large {
    height: 45px;
    font-size: 15px;
}

.button.ivu-btn {
    color: #fff;
    border: none;
}

.button[disabled] {
    background: #d3d3d3;
    pointer-events: none;
    color: var(--clr-gray-dark);
    opacity: 0.7;
}

.button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-weight: 500;
    color: var(--clr-gray);
    font-size: 14px;
    cursor: pointer;
    transition: 0.3;
}

.button-icon.active,
.button-icon:hover {
    color: var(--clr-blue);
}

.button-icon.active svg path,
.button-icon:hover svg path {
    fill: var(--clr-blue);
}

.button-icon svg {
    margin-right: 9px;
}
