*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    /* font-size: 50%; */
    scroll-behavior: smooth;
}

/* @media screen and (min-width: 1300px) {
    .html {
        font-size: 62.5%;
    }
}

@media screen and(min-width: 460px) {
    .html {
        font-size: 56.25%;
    }
} */

body {
    box-sizing: border-box;
}

p + p {
    margin-top: 1em;
}

*::-webkit-scrollbar {
    width: 18px;
    height: 18px;
}
*::-webkit-scrollbar-track {
    background: var(--clr-gray-dark);
    /* background: transparent; */
}
*::-webkit-scrollbar-thumb {
    background: var(--clr-blue);
    border-radius: 100px;
    border: 4px solid transparent;
    background-clip: padding-box;
}
