.create-profile {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    row-gap: 30px;
}

.logo {
    position: absolute;
    left: 35px;
    top: 35px;
    width: 86px;
}

.background-arrow {
    position: absolute;
    top: 0;
    right: 0;
    height: 90%;
    object-fit: cover;
    object-position: center;
}

.left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
    z-index: 100;
}

.right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1d1d1d;
    padding: 60px 30px 60px 0;
}

.steps {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    row-gap: 60px;
}

.step-title {
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--clr-gray-dark);
    padding-top: 7px;
}

.step.active .step-title {
    color: #fff;
}

.step-number {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 50px;
    height: 50px;
    transform: translateX(50%);
    background-color: #1d1d1d;
    color: var(--clr-gray-dark);
    font-size: 13px;
    font-weight: 800;
    border-radius: 100px;
    border: 2px solid var(--clr-primary);
}

.step.active .step-number {
    background-color: #fff;
    color: var(--clr-gray-dark);
}

.step.done .step-number {
    background: linear-gradient(180deg, #0032bd 0%, #0f87e5 100%);
    color: #fff;
}

.step-description {
    margin-top: 20px;
}

@media screen and (min-width: 960px) {
    .create-profile {
        flex-direction: row;
    }

    .left {
        width: 60%;
        padding-top: 0;
    }

    .right {
        width: 40%;
    }

    .step-number {
        transform: translateX(-50%);
    }

    .steps {
        padding-left: 10%;
    }

    .background-arrow {
        height: 70%;
    }
}
